
.judges{
    
    list-style-type: none;
    margin: 0 0 0 0;

    width: 420px;
    height: 315px;

    background: #FDF8ED;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    p{
        font-family: "Comic Neue";
        text-align: left;
        font-size: 18px;
    }
    p:last-child{
        margin-bottom: 10%;
    }
}
