@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

.button{
    width: 145px;
    height: 60px;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 10%;


    background: #9E9E92;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    border-style: none;

    p{

        margin-top: 0%;
        margin-bottom: 0;
        margin-left: 0%;
        margin-right: 0;

        font-family: Coiny;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;

        color: #FFFFFF;    
    }
}

.button:hover{
    background: #27201F;
    cursor: pointer;
}