
.info{
    display: flex;
    flex-direction: row;

    margin-top: 1%;
    margin-bottom: 2%;

    p{

        font-family: "Comic Neue";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;

        margin-top: 0.5%;
        margin-left: 2%;
    }

}